#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.form-group{
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

.form-group input {
  outline: none;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
}

.form-container {
  border: 1px solid #ccc;
  width: 400px;
  margin: 30px auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 6px 6px 8px;

}


.create-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  background: #f3f0ff;
  padding: 20px;
}

.create-card {
  background: white;
  width: 600px;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.12);
  border-top: 6px solid #7b2ff7;
}

.create-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 700;
  color: #5b00c8;
}

/* fdf */

/* Page layout */
.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f7;
  min-height: 100vh;
  padding: 20px;
}

/* Form container */
.auth-form {
  background: #ffffff;
  width: 380px;
  padding: 35px 40px;
  border-radius: 15px;
  box-shadow: 0px 10px 40px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

/* Heading */
.auth-title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 25px;
}

/* Input groups */
.auth-group {
  margin-bottom: 20px;
}

.auth-group label {
  display: block;
  font-weight: 500;
  margin-bottom: 6px;
}

.auth-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.2s;
}

.auth-group input:focus {
  border-color: blueviolet;
  box-shadow: 0 0 3px rgba(138, 43, 226, 0.4);
  outline: none;
}

/* Main button */
.auth-button {
  background-color: blueviolet;
  color: white;
  padding: 12px;
  border: none;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
}

.auth-button:hover {
  background-color: #6a23c9;
}

/* Toggle text and button */
.auth-toggle-text {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.auth-toggle-btn {
  background: none;
  border: none;
  color: blueviolet;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.auth-toggle-btn:hover {
  text-decoration: underline;
}

